<div style="padding:20px">

    <p-table #dt [value]="users" dataKey="id" sortField="points" [sortOrder]="-1" styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [filterDelay]="0" [globalFilterFields]="['userName','country','points','quizCount']">
        <ng-template pTemplate="caption">
            <div class="table-header">
                <div>

                </div>
                <span class="pl-8">
                  QuizWiz Champions
                </span>
                <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
            </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>

                <th pSortableColumn="userName">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Name
                        <p-sortIcon field="userName"></p-sortIcon>
                        <p-columnFilter type="text" field="name" display="menu" class="p-ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="country">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Country
                        <p-sortIcon field="country"></p-sortIcon>
                        <p-columnFilter type="text" field="country" display="menu" class="p-ml-auto"></p-columnFilter>
                    </div>
                </th>


                <th pSortableColumn="points">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Points
                        <p-sortIcon field="points"></p-sortIcon>
                        <p-columnFilter type="numeric" field="points" display="menu" currency="USD" class="p-ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="points">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        QuizCount
                        <p-sortIcon field="quizCount"></p-sortIcon>
                        <p-columnFilter type="numeric" field="quizCount" display="menu" currency="USD" class="p-ml-auto"></p-columnFilter>
                    </div>
                </th>

            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-user>
            <tr class="p-selectable-row">

                <td>
                    <span class="p-column-title">Name</span> {{user.userName}}

                </td>
                <td>
                    <span class="p-column-title">Country</span>
                    <span class="flag-icon flag-icon-{{user.country | lowercase}} flag-icon-squared"></span>
                </td>


                <td>
                    <span class="p-column-title">Points</span> {{user.points}}
                </td>

                <td>
                    <span class="p-column-title">QuizCount</span> {{user.quizCount}}
                </td>


            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No users found.</td>
            </tr>
        </ng-template>
    </p-table>






</div>