<div class="row">
    <div *ngFor="let category of categories" class="col-sm-3 p-3">
        <div class="card ">
            <div class="card-title text-center">
                <h5>{{category.name}}</h5>

            </div>
            <a routerLink="/quiz-form/{{category.id}}" routerLinkActive="active">
                <img class="card-img-top" src={{category.logo_file}} alt="Card image cap">

            </a>
            <!-- <div class="card-body">
                <p class="card-text">{{category.desc}}</p>
            </div> -->
        </div>
    </div>
</div>
<app-login></app-login>
<!-- <app-registration></app-registration> -->
